<html>

<head>
	<meta charset="utf-8">
	<!--<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />-->
	<title>GhostSync Lobby</title>
	
	<script src="/components/utils/js/include.js"></script>
	<script src="/components/lobby/js/lobby.js"></script>

</head>

<body>
	<div id="main_wrapper">
		<div id="player_wrapper">
			<div id="local_video_wrapper">
				<video id="local_video_element">
					<source id="local_video_source_element" src="/Videos/Uploads/Jimmy.mp4">
				</video>
			</div>
			<div id="controls_wrapper">
				<div id="control_buttons_wrapper">
					<button id="play_button"></button>
					<button id="fullscreen_button"></button>
					<button id="skip_button"></button>
				</div>
				<div id="control_slider_wrapper">
					<input id="seekSlider" type="range" step=".1" class="controls"></input>
				</div>
			</div>
		</div>
		<div id="side_panel_wrapper">

		</div>
	</div>
</body>

</html>