

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .12em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

:root {
    --light_purple: #35018a7e;
    --yellow: #f8be52;
    --light_Yellow: #fbcf86;
    --dark_Blue: #0000008f;
    --light_blue: #00509b42;
    --text: #f1e5c0;
    --text_op: #f1e5c0a9;

}
h1,h2,h3,h4,h5,p,a {
    color: var(--text);
}

a {
    color: var(--light_Yellow);
}
/* New styles below this point*/
.mainDesktop{
    height: 100vh;
    background-color: var(--light_purple);
}
/* Top Nav*/
#topNav{
    padding: 2%;
    background-color: var(--dark_Blue) !important;
    text-align: center;
}
a[class *= Button]{
        color: black;
        background-image: linear-gradient(to left, var(--yellow), var(--light_Yellow));
        text-transform: uppercase;
        padding: 15px 25px;
        border-radius: 50px;
        margin: 2%;
        align-items: center;
        cursor: pointer;
    
}
.divider{
    border: #f8be52 2px solid;
    min-height: 100px;
}
/* video Player*/
#playerWrapper{
    width: 60%;
    float: left;

}

#video{
    margin: 2% 0% 0 0;
    width: 60vw;
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

/* Reactions*/
.reactionWrapper{
    width: 60vw;
    text-align: center;
    height: 3em;
    
    
}
.controls{
    min-height: 3em;
    min-width: 3em;
    background-color: #ffffff00;
   border: #00000057 1px solid;
   cursor: pointer;
}
#seekSlider{
    min-width: 60vw;
   margin: 2% 0%;
}


.userqueueWrapper{
display: flex;
width: auto;

}
